<section class="ml-4 mt-5 d-flex flex-wrap">
  <section class="todo-task-panel col-3" id="todo-panel">
  </section>
  <div class="v-line"></div>
  <section class="todo-task-panel done col-3" id="done-panel">
  </section>
</section>