// Font Import
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// Main Fonts
$Lato:  'Lato', sans-serif;
$Nunito: 'Nunito', sans-serif;

// Font-sizes
$title: 1.8rem;
$sub-title: 1.3rem;
$label: 1rem;
$text: 1rem;

// Theme Colors
$green: #1fb092;
$light-green: #83CCBA;
$light-green-2: #00B292;
$dark-green: #007a64;
$dark-green-2:  #209F85;
$dark-green-3: #005342;
$dark-green-4: #01B292;
$blue: #4d5cf0;
$dark: #323232;
$red: #d8534c;
$red-2: #F8524A;
$purple: #A961F5;
$crimson-red: #C56565;
$orange: #dd7d73;
$orange-2: #F27900;
$light-orange: #fead54;
$gray: #7A7A7A;
$gray-2: #7B7B7B;
$dark-gray: #656565;
$light-gray: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #F5F5F5;
$light-gray-4: #696969;
$light-gray-5: #F7F7F7;
$box-shadow-dark: #0000001A;